app = "slashcoder-backend"
build = { dockerfile = "Dockerfile" }

[[services]]
  internal_port = 8001
  protocol = "tcp"

  [[services.ports]]
    port = 80
  [[services.ports]]
    port = 443
